@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);

  --Blue: hsl(248, 32%, 49%);

  --DarkBlue: hsl(249, 10%, 26%);
  --GrayishBlue: hsl(246, 25%, 77%);
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--Red);
  background-image: url('./images/bg-intro-desktop.png');
}
.container {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 13%;
  margin-bottom: 12%;
}
.left {
  text-align: left;
}
h1 {
  color: white;
  font-size: 38px;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}
p {
  color: white;
  text-align: justify;
  margin-top: 20px;
  line-height: 20px;
}
.right {
  display: block;
  min-width: 400px;
}
button {
  float: right;
  color: white;
  background-color: var(--Blue);
  width: 70%;
  height: 50px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
